<div class="card">
  <div class="card-header">
    <h1 class="card-title"><%= position.coin.name %></h1>
  </div>
  <div class="card-body">
    <p>Quantity: <%= position.quantity %></p>
    <p>Value: $<%= position.value %></p>
    <div class="text-right">
      <% if current_user == @user %>
        <%= link_to image_tag("https://png.icons8.com/material-sharp/50/000000/pencil.png", height: "15", width: "15"), edit_portfolio_position_path(position.portfolio, position) %>
        <%= render partial: 'positions/delete', locals: {portfolio: position.portfolio, position: position} %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <img src="<%= position.coin.img_url %>">
  </div>
</div>
