<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title"><%= position.coin.name %></h1>
    </div>
    <div class="card-body">
      <p>Quantity: <%= position.quantity %></p>
      <p>Value: $<%= position.value %></p>
      <div class="text-right">
        <% if current_user == @user %>
          <%= link_to edit_portfolio_position_path(position.portfolio, position) do %>
            <%= image_tag("icons8-edit-32.png", height:"15", width:"15") %>
          <% end %>
          <%= render partial: 'positions/delete', locals: {portfolio: position.portfolio, position: position} %>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <img src="<%= position.coin.img_url %>">
    </div>
  </div>
</div>
