<div class="text-center pt-5 background-container" style="background: url('<%= image_path('10540.jpg') %>') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
  <div class="form-container">
    <%= form_for [user, portfolio] do |f| %>
      <label>Name:</label><br>
      <%= f.text_field :name, placeholder: @portfolio.errors.full_messages_for(:name).first %><br>
      <label class="mt-2">Make private?</label><br>
      <%= f.check_box :public, {}, checked_value = false, unchecked_value = true %><br>
      <%= f.submit portfolio_form_action, class: "btn btn-sm btn-dark mt-3" %>
    <% end %>
  </div>
</div>
