<div class="jumbotron text-center">
  <h1 class="display-4 name"><%= @portfolio.name %></h1>
  <p class="lead value">Total value: $<%= @portfolio.value %></p>
  <% if current_user == @user %>
    <div class="text-right">
      <%= link_to image_tag("https://png.icons8.com/material-sharp/50/000000/pencil.png", height: "15", width: "15"), edit_user_portfolio_path(@user, @portfolio) %>
    </div>
    <div class="text-right">
      <%= render partial: 'delete', locals: {user: @user, portfolio: @portfolio} %>
    </div>
  <% end %>
</div>

<div class='card-group'>
  <%= render @positions %>
</div>

<% if current_user == @user %>
  <div id="position-form" class="text-center">
    <%= render partial: 'positions/form', locals: {portfolio: @portfolio, position: Position.new, coins: Coin.all} %>
  </div>
<% end %>

<a href="#" class="js-back float-left btn btn-secondary" data-id="<%=@portfolio.id%>">Previous portfolio</a>

<a href="#" class="js-next float-right btn btn-secondary" data-id="<%=@portfolio.id%>">Next portfolio</a>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/portfolios/" + nextId, function(data) {
      console.log(data)
      $(".name").text(data["name"]);
      // $(".value") - this will need a JS method
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });return false;
  });
});
</script>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-back").on("click", function() {
    var backId = parseInt($(".js-next").attr("data-id")) -1;
    $.getJSON("/portfolios/" + backId, function(data) {
      console.log(data)
      $(".name").text(data["name"]);
      // $(".value") - this will need a JS method
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });return false;
  });
});
</script>
