<div class="jumbotron text-center">
  <h1 class="display-4"><%= @portfolio.name %></h1>
  <p class="lead"><%= @portfolio.value %></p>
  <% if current_user == @user %>
    <%= render partial: 'delete', locals: {user: current_user, portfolio: @portfolio} %>
  <% end %>
</div>

<div class='card-group'>
  <%= render @positions %>
</div>

<% if current_user == @user %>
  <div class="text-center">
    <%= render partial: 'positions/form', locals: {portfolio: @portfolio, position: @position, coins: @coins} %>
  </div>
<% end %>
