<div class="jumbotron text-center">
  <h1 class="display-4" id="name"><%= @portfolio.name %></h1>
  <p class="lead">Total value: $<span id="portfolioValue"><%= @portfolio.value %></span></p>
  <% if current_user == @user %>
    <div class="text-right">
      <%= link_to image_tag("/assets/icons8-edit-32.png", height:"25", width:"25"), edit_user_portfolio_path(@user, @portfolio) %>
    </div>
    <div class="text-right">
      <%= render partial: 'delete', locals: {user: @user, portfolio: @portfolio} %>
    </div>
  <% end %>
</div>


<div class='card-group'>
  <%= render @positions %>
</div>

<% if current_user == @user %>
  <div class="text-center">
    <%= form_for [@portfolio, @position], html: {"data-id"=> @portfolio.id} do |f| %>
      <div class="form-group">
        <label for="coin">Coin:</label>
        <%= f.collection_select :coin_id, Coin.all, :id, :name, {}, {:class=>"form-control"} %><br>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label><br>
        <%= f.number_field :quantity, placeholder: @position.errors.full_messages_for(:quantity).first, step: :any, class:"form-control" %><br>
      </div>
      <%= f.submit position_form_action, class: "btn btn-lg btn-secondary" %>
    <% end %>
  </div>
<% end %>

<div id="back-button" data-id="<%=@portfolio.id%>">
  <% if @user.portfolios.map{|portfolio| portfolio.id}.include?(@portfolio.id - 1) %>
    <a href="#" class="js-back float-left btn btn-secondary">Previous Portfolio</a>
  <% end %>
</div>

<div id="next-button" data-id="<%=@portfolio.id%>">
  <% if @user.portfolios.map{|portfolio| portfolio.id}.include?(@portfolio.id + 1) %>
    <a href="#" class="js-next float-right btn btn-secondary">Next Portfolio</a>
  <% end %>
</div>

<script id="positions-template-owner" type="text/x-handlebars-template">
    {{#each this}}
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">{{coin.name}}</h1>
    </div>
    <div class="card-body">
      <p>Quantity: {{quantity}}</p>
      <p>Value: $ {{value}} </p>
      <div class="text-right">
        <a href="/portfolios/{{portfolio_id}}/positions/{{id}}/edit">
          <img src="/assets/icons8-edit-32.png", height="15" width="15" href="#">
        </a>
        <form action="/portfolios/{{portfolio_id}}/positions/{{id}}" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
          <input type="image" src="/assets/icons8-trash-32.png" height="15" width="15">
        </form>
      </div>
    </div>
    <div class="card-footer">
      <img src={{coin.img_url}}>
    </div>
  </div>
  {{/each}}
</script>

<script id="position-template-owner" type="text/x-handlebars-template">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">{{coinName}}</h1>
    </div>
    <div class="card-body">
      <p>Quantity: {{quantity}}</p>
      <p>{{coinTicker}}</p>
      <p>{{value}} </p>
      <div class="text-right">
        <a href="/portfolios/{{portfolio_id}}/positions/{{id}}/edit">
          <img src="/assets/icons8-edit-32.png", height="15" width="15" href="#">
        </a>
        <form action="/portfolios/{{portfolio_id}}/positions/{{id}}" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
          <input type="image" src="/assets/icons8-trash-32.png" height="15" width="15">
        </form>
      </div>
    <div class="card-footer">
      <img src={{coinImg_url}}>
    </div>
  </div>
</script>

<!-- set content of button elements depending on data id: none if id-1 or id +1 exceeds user's range -->
<script>
  function setButtons() {
    $.getJSON("/users/<%= @user.id %>/portfolios/", function(data) {
      let ids = data.map(portfolio => portfolio.id)
      let nextID = parseInt($("#next-button").attr("data-id")) + 1;
      let backID = parseInt($("#back-button").attr("data-id")) - 1;
      if (ids.includes(nextID)) {
        $("#next-button").html("<a href='#' class='js-next float-right btn btn-secondary'>Next portfolio</a>")
      }
      else {
          $("#next-button").html("")
      }
      if (ids.includes(backID)) {
        $("#back-button").html("<a href='#' class='js-back float-left btn btn-secondary'>Previous Portfolio</a>")
      }
      else {
        $("#back-button").html("")
      }
    }).then(nextButton).then(backButton)
  }
</script>

<script>
  function nextButton () {
    $(".js-next").on("click", function(e) {
      e.preventDefault()
      var nextId = parseInt($("#next-button").attr("data-id")) + 1;

      $.getJSON("/users/<%= @user.id %>/portfolios/" + nextId, function(data) {
        $("#back-button").attr("data-id", data["id"]);
        $("#next-button").attr("data-id", data["id"]);

        let portfolio = new Portfolio(data);
        portfolio.injectNameValue(this)
        let template = Handlebars.compile(document.getElementById("positions-template-owner").innerHTML);
        let result = template(portfolio.positions);
        $(".card-group").html(result);
      }).then(setButtons)
    })
  }
</script>

<script>
  function backButton() {
    $(".js-back").on("click", function(e) {
      e.preventDefault()
      let backId = parseInt($("#back-button").attr("data-id")) -1;
      $.getJSON("/users/<%= @user.id %>/portfolios/" + backId, function(data) {
        $("#back-button").attr("data-id", data["id"]);
        $("#next-button").attr("data-id", data["id"]);

        let portfolio = new Portfolio(data);
        portfolio.injectNameValue(this)
        let template = Handlebars.compile(document.getElementById("positions-template-owner").innerHTML);
        let result = template(portfolio.positions);
        $(".card-group").html(result);
      }).then(setButtons)
    });
  };
</script>

<script>
$(function() {
  setButtons();
  nextButton();
  backButton();
 })
</script>

<script>
  $(function () {
     $('form#new_position').on('submit', function(event) {
       var values = $(this).serialize();
       var portfolioId = parseInt($("form#new_position").attr("data-id"));
       var posting = $.post('/portfolios/' + portfolioId + "/positions", values);
       posting.done(function(data) {
         let position = new Position(data)
         position.setupTemplate()
       });return false
     })
   })
</script>

<% content_for :portfolios do %>
  <%= javascript_include_tag "portfolios.js" %>
<% end %>

<% content_for :positions do %>
  <%= javascript_include_tag "positions.js" %>
<% end %>
