<div class="jumbotron text-center">
  <h1 class="display-4" id="name"><%= @portfolio.name %></h1>
  <p class="lead">Total value: $<span id="portfolioValue"><%= @portfolio.value %></span></p>
  <% if current_user == @user %>
    <div class="text-right">
      <%= link_to edit_user_portfolio_path(@user, @portfolio) do %>
        <%= image_tag("icons8-edit-32.png", height:"25", width:"25") %>
      <% end %>
    </div>
    <div class="text-right">
      <%= render partial: 'delete', locals: {user: @user, portfolio: @portfolio} %>
    </div>
  <% end %>
</div>

<div class='card-group'>
  <%= render @positions %>
</div>

<% if current_user == @user %>
  <div class="text-center">
    <%= form_for [@portfolio, @position], html: {"data-id"=> @portfolio.id} do |f| %>
      <div class="form-group">
        <label for="coin">Coin:</label>
        <%= f.collection_select :coin_id, Coin.all, :id, :name, {}, {:class=>"form-control"} %><br>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label><br>
        <%= f.number_field :quantity, placeholder: @position.errors.full_messages_for(:quantity).first, step: :any, class:"form-control" %><br>
      </div>
      <%= f.submit position_form_action, class: "btn btn-lg btn-secondary" %>
    <% end %>
  </div>
<% end %>

<div id="back-button" data-id="<%=@portfolio.id%>">
  <% if @user.portfolios.map{|portfolio| portfolio.id}.include?(@portfolio.id - 1) %>
    <a href="#" class="js-back float-left btn btn-secondary">Previous Portfolio</a>
  <% end %>
</div>

<div id="next-button" data-id="<%=@portfolio.id%>">
  <% if @user.portfolios.map{|portfolio| portfolio.id}.include?(@portfolio.id + 1) %>
    <a href="#" class="js-next float-right btn btn-secondary">Next Portfolio</a>
  <% end %>
</div>
<!-- set content of button elements depending on data id: none if id-1 or id +1 exceeds user's range -->
<script>
  function setButtons() {
    $.getJSON("/users/<%= @user.id %>/portfolios/", function(data) {
      var ids = data.map(portfolio => portfolio.id)
      var nextID = parseInt($("#next-button").attr("data-id")) + 1;
      var backID = parseInt($("#back-button").attr("data-id")) - 1;
      if (ids.includes(nextID)) {
        $("#next-button").html("<a href='#' class='js-next float-right btn btn-secondary'>Next portfolio</a>")
      }
      else {
          $("#next-button").html("")
      }
      if (ids.includes(backID)) {
        $("#back-button").html("<a href='#' class='js-back float-left btn btn-secondary'>Previous Portfolio</a>")
      }
      else {
        $("#back-button").html("")
      }
    }).then(nextButton).then(backButton)
  }
</script>

<script>
  function updateDataAttributes(id) {
    $("#back-button").attr("data-id", id);
    $("#next-button").attr("data-id", id);
    $("#new_position").attr("data-id", id);
  }
</script>

<script>
  function findTemplate() {
    var current_user = '<%= current_user.id %>'
    var portfolioOwner = '<%= @user.id %>'
    var template;
    if (current_user == portfolioOwner) {
      template = 'positions-owner'
    } else {
      template = 'positions-guest'
    }
    return template
  }
</script>

<script>
  function nextButton () {
    $(".js-next").on("click", function(e) {
      e.preventDefault()
      var nextId = parseInt($("#next-button").attr("data-id")) + 1;

      $.getJSON("/users/<%= @user.id %>/portfolios/" + nextId, function(data) {
        updateDataAttributes(data["id"])
        var portfolio = new Portfolio(data);
        portfolio.injectNameValue(this)
        portfolio.renderPositions(findTemplate());
      }).then(setButtons)
    })
  }
</script>

<script>
  function backButton() {
    $(".js-back").on("click", function(e) {
      e.preventDefault()
      var backId = parseInt($("#back-button").attr("data-id")) -1;
      $.getJSON("/users/<%= @user.id %>/portfolios/" + backId, function(data) {
        updateDataAttributes(data["id"])

        var portfolio = new Portfolio(data);
        portfolio.injectNameValue(this)
        portfolio.renderPositions(findTemplate());
      }).then(setButtons)
    });
  };
</script>

<script>
$(function() {
  setButtons();
  nextButton();
  backButton();
 })
</script>

<script>
  $(function () {
     $('form#new_position').on('submit', function(event) {
       var values = $(this).serialize();
       var portfolioId = parseInt($("form#new_position").attr("data-id"));
      $.ajax({
        type: "post",
          url: '/portfolios/' + portfolioId + '/positions',
          data: values,
          success: function(data) {
            var position = new Position(data);
            var priceData = $("span#portfolioValue").html();
            var portfolio = new Portfolio({"value": priceData})
            portfolio.updatePortfolioValue(position.value)
            position.renderTemplate();
          }
       });return false
     })
   })
</script>

<script>
    $("#new_position").validate({
      debug: true,
      rules: {
        "position[quantity]": {required: true, min: 0.01, number: true}
      }
    });
</script>

<script>
  $(function () {
    $("#delete-position").on("submit", function(e) {
      e.preventDefault();
      console.log(this)
    })
  })
</script>

<% content_for :portfolios do %>
  <%= javascript_include_tag "portfolios.js" %>
<% end %>

<% content_for :positions do %>
  <%= javascript_include_tag "positions.js" %>
<% end %>
