<h2> You're viewing <%= user.name %>'s page. </h2>
<% if current_user.following?(user) %>
  <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
    html: { method: :delete }) do |f| %>
    <%= f.submit "Unfollow", class: "btn" %>
  <% end %>
<% else %>
  <%= form_for(current_user.active_relationships.build) do |f| %>
    <div><%= hidden_field_tag :followed_id, user.id %></div>
    <%= f.submit "Follow", class: "btn btn-primary" %>
  <% end %>
<% end %>

<% if user.portfolios.blank? %>
  <h4>This user does not have any viewable portfolios</h4>
<% else %>
  <h4>This user has created the following portfolios:</h4>
  <% user.portfolios.each do |portfolio| %>
    <%= link_to "#{portfolio.name}", user_portfolio_path(user, portfolio) %><br>
  <% end %>
<% end %>
