<h2>Welcome to Coinopoly, <%= user.name %></h2>
<h4><%= link_to 'A lot has been going on', activities_index_path %> since you last logged in.</h4>

<h4><%= user.following.count %> Following</h4>
<%= link_to 'See what they got up to', "/users/#{user.id}/follower_feed" %>

<h4><%=user.followers.count %> Followers</h4>
<% if user.portfolios.blank? %>
  <%= link_to 'Create your first portfolio', new_user_portfolio_path(user) %>
<% else %>
  <h4>Keep up with your portfolios:</h4>
  <% user.portfolios.each do |portfolio| %>
    <%= link_to "#{portfolio.name}", user_portfolio_path(user, portfolio) %><br>
    <% end %>
  <%= link_to 'Add another portfolio', new_user_portfolio_path(current_user) %>
<% end %>

<p><%= link_to "Log Out", logout_path %></p>
