<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Coinopoly, <%= user.name %></h1>
  <p class="lead">A lot has been going on since you last logged in.</p>
  <p class="lead">
    <a href="../activities/index" class="btn btn-sm btn-secondary">Learn more</a>
  </p>

  <div class="row">
    <div class="col-lg-4 col-sm-4 col-12">
      <div class="text-right">
        <h4><%= user.following.count %></h4>
        <span><%= link_to 'Following', following_user_path(user) %></span>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-12">
      <div class="text-right">
        <h4><%=user.followers.count %></h4>
        <span><%= link_to 'Followers', followers_user_path(user) %></span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <% if @portfolios.blank? %>
      <%= link_to 'Create your first portfolio', new_user_portfolio_path(user), class: "btn btn-lg btn-secondary" %>
    <% else %>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#" id="show-more">Show portfolios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="by-value">Show by value</a>
        </li>
      </ul>

      <div class="card-group row">
      </div>
      <div id="add" class="mt-5">
        <h4><%= link_to 'Add another portfolio', new_user_portfolio_path(user), class: "btn btn-sm btn-secondary" %> </h4>
      </div>
    <% end %>
    </div>
  </div>
