<% if current_user != user %>
  <div class="card">

    <div class="card-header">
      <h1 class="card-title">
        <%= link_to user.name, user_path(user) %>
      </h1>
    </div>

    <div class="card-body">
      <% if public_portfolios?(user) %>
        <p>Number of viewable portfolios: <%= public_portfolio_number(user) %>.</p>
      <% else %>
        <p>This user does not have any viewable portfolios.</p>
      <% end %>
    </div>

    <div class="card-footer">
      <% if current_user.following?(user) %>
        <%= render partial: "unfollow", locals: {user: user} %>
      <% else %>
        <%= render partial: "follow", locals: {user: user} %><br>
      <% end %>
    </div>

  </div>
<% else %>
    <div class="card-header">
      <h1 class="card-title">
        You're following this user
      </h1>
    </div>

    <div class="card-body">
      <% if public_portfolios?(user) %>
        <p>You have <%= public_portfolio_number(user) %> viewable portfolios.</p>
      <% else %>
        <p>You don't have any public portfolios.</p>
      <% end %>
    </div>
<% end %>
