  <div class="row" id="login-options">
    <div class="col-xs-6 m-5 mx-auto" id='signup'>
      <div>
        <h1>Sign Up</h1>

        <%= form_for @sign_up_user do |f| %>
          <label>Name:</label><br>
          <%= f.text_field :name, placeholder: @sign_up_user.errors.full_messages_for(:name).first %><br>
          <label>Email:</label><br>
          <%= f.email_field :email, placeholder: @sign_up_user.errors.full_messages_for(:email).first %><br>
          <label>Password</label><br>
          <%= f.password_field :password, placeholder: @sign_up_user.errors.full_messages_for(:password).first %><br>
          <%= f.submit 'Signup' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6 m-5 mx-auto" id='login'>
      <div>
        <h1>Login</h1>
        <%= form_for @sign_in_user, :url => signin_path do |f| %>
          <label>Name:</label><br>
          <%= f.text_field :name, placeholder: @sign_in_user.errors.full_messages_for(:name).first %><br>
          <label>Password</label><br>
          <%= f.password_field :password, placeholder: @sign_in_user.errors.full_messages_for(:password).first %><br>
          <%= f.submit 'Log In' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6 m-5 mx-auto" id="fb-login">
      <a href="/auth/facebook" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i> Log in with Facebook</a>
  </div>
</div>
