<div class="container">
  <div class="row">
    <div class="col-xs-6 m-5">
      <div id='signup'>
        <h1>Sign Up</h1>

        <%= form_for @user do |f| %>
          <label>Name:</label><br>
          <%= f.text_field :name %><br>
          <label>Email:</label><br>
          <%= f.email_field :email %><br>
          <label>Password</label><br>
          <%= f.password_field :password %><br>
          <%= f.submit 'Signup' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6 m-5">
      <div id='login'>
        <h1>Login</h1>
        <%= form_for @user, :url => signin_path do |f| %>
          <label>Name:</label><br>
          <%= f.text_field :name %><br>
          <label>Password</label><br>
          <%= f.password_field :password %><br>
          <%= f.submit 'Log In' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6 m-5">
      <a href="/auth/facebook" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i> Log in with Facebook</a>
  </div>
</div>
