<div class="alert alert-info text-center">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
  <h2 class="text-center">Did you know?</h2>
  <div class="info" id="info-primary">
    <%= image_tag("creative.png") %>Most users hold <%= link_to Coin.with_most_holders.name, coin_path(Coin.with_most_holders) %> in their portfolios.
  </div>
  <div class="info" id="info-secondary">
    <%= image_tag("creative.png") %>The most widely held coin across all portfolios is <%= link_to Coin.most_widely_held.name, coin_path(Coin.most_widely_held)%>.
  </div>
</div>

<div class="card-group">
  <%= render @coins %>
</div>
